.container {
  width: 800px;
  margin: 0 auto;
}

.edit-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 400px;
  max-width: 80%;
}

.edit-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.editor {
  font-size: 16px;
  width: 100%;
  border: 1px solid #000;
  margin-bottom: 10px;
}

.editor textarea {
  outline: none;
}

.updating {
  margin-bottom: 10px;
  font-size: 13px;
}

